body{
	text-align: center;
}
header h1{
	margin: 20px 0 30px 0;
	font-family: serif;
	font-size: 30px;
}
main div{
	margin: 30px 0 30px 0;
	text-align: center;
}
main form{
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
main form input{
	margin: 10px 10px 10px 10px;
	width: 200px;
	font-size: 20px;
}
main form input#btnCalc{
	margin: 10px 10px 10px 10px;
	width: 100px;
	font-size: 20px;
}
main form a{
	width: 100px;
	font-size: 20px;
}
main p{
	font-size: 20px;
	margin: 20px 0 20px 0;
}
main p#showResult,main p#standardWeight{
	font-size: 30px;
	color: #63b08c;
}
main #body{
	margin: 0 auto;
	width: 20%;
	height: 500px;
	display: none;
}
footer {
	font-family: serif;
	font-size: 20px;
	text-align: center;
	margin:0 auto;
}
footer p{
	margin:20px 0 10px 0;
}
footer a{
	padding:10px 0 30px 0;
}



/* 画面サイズで変更する場合はココ */
/* 
@media (max-width:767px) {
main div img{
	margin-top: 55px;
	width: 100%;
}
}
@media (min-width:768px) {
	main div img{
		margin-top: 95px;
		width: 100%;
	}
	} */



